@model UserViewModel

<div class="account-page account-page-2">
    <div class="container">
        <div class="row">
            <div class="col-2">
                 <div class="form-container">
                    <div class="form-control">
                        <form asp-action="Edit" asp-controller="Admin" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <label asp-for="Id"></label>
                           
                            <input asp-for="Id" readonly="readonly" class="form-edit">
                            
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-edit" placeholder="User name"  ..."/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-edit" placeholder="Email  ..."/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        
                            <label asp-for="BirthDate"></label>
                            <input asp-for="BirthDate" class="form-edit" placeholder="Birth date ..."/>
                            <span asp-validation-for="BirthDate" class="text-danger"></span>

                            <input type="submit" value="Save" class="btn" />
                            
                            <a asp-action="Index">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>