<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fly Buy</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.css" integrity="sha512-MpdEaY2YQ3EokN6lCD6bnWMl5Gwk7RjBbpKLovlrH6X+DRokrPRAF3zQJl1hZUiLXfo2e9MrOt+udOnHCAmi5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" integrity="sha512-IXuoq1aFd2wXs4NqGskwX2Vb+I8UJ+tGJEu/Dc0zwLNKeQ7CW3Sr6v0yU3z5OQWe3eScVIkER4J9L7byrgR/fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/themes/bootstrap.css" integrity="sha512-eSjlj23qCNm7hmEQiXiJGCxLVT3weZ47TdIESCNFm8LwNDBtmRAbdDXwkKLLA5HPQIR1yl9JYO0wQG6gIPJoRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.2/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    


</head>
<body>

     <div class="backgroundHeader">

        <div class="GeneralHeader">

            <div class="navbar navbarV2">

                <a asp-controller="Home" asp-action="Index"><h1 id="z-index" class="logo color-logo">FLY<span>  BUY</span></h1></a> 

                <div class="menus">
                    <div class="dropdown">
                        <a class="dropbtn"><p>WOMENS</p><i class="fa-solid fa-chevron-right"></i></a>
                        <div class="dropdown-content">
                            <a>HOODIES</a>
                            <a>JOGGERS</a>
                            <a>SHORTS</a>
                            <a>T-SHIRTS</a>
                            <a>VEST TOPS</a>
                            <a>SWIMWEAR</a>
                            <a>ACCESSORIES</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="dropbtn"><p>MENS</p><i class="fa-solid fa-chevron-right"></i></a>
                        <div class="dropdown-content">
                            <a>HOODIES</a>
                            <a>JOGGERS</a>
                            <a>SHORTS</a>
                            <a>T-SHIRTS</a>
                            <a>VEST TOPS</a>
                            <a>SWIMWEAR</a>
                            <a>ACCESSORIES</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="dropbtn"><p>KIDS</p><i class="fa-solid fa-chevron-right"></i></a>
                        <div class="dropdown-content">
                            <a>HOODIES</a>
                            <a>JOGGERS</a>
                            <a>SHORTS</a>
                            <a>T-SHIRTS</a>
                            <a>VEST TOPS</a>
                            <a>SWIMWEAR</a>
                            <a>ACCESSORIES</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="dropbtn"><p>ACCESSORIES</p><i class="fa-solid fa-chevron-right"></i></a>
                        <div class="dropdown-content">
                            <a>BAGS</a>
                            <a>CAPS</a>
                            <a>SOCKS</a>
                            <a>WATCH</a>
                            <a>GLASSES</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="dropbtn"><p>ABOUT</p><i class="fa-solid fa-chevron-right"></i></a>
                        <div class="dropdown-content">
                            <a>THE PURPOSE</a>
                            <a>ABOUT FLYBUY</a>
                            <a asp-action="Create" asp-controller="Ratings">RATE US</a>
                        </div>
                    </div>

                </div>



                <nav>

                    <ul id="MenuItems2">

                        <li class="dropdown">
                            <a class="dropbtn"><i class="fa-solid fa-user"></i></a>
                            <div class="dropdown-content">
                               
                                @if (User.Identity.IsAuthenticated)
                                {
                                     @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Index" asp-controller="Admin">ADMIN</a>
                                        <a asp-action="Index" asp-controller="AgeCategories">AGE CATEGORIES</a>
                                        <a asp-action="Index" asp-controller="ContactUs">CONTACT US</a>
                                        <a asp-action="Index" asp-controller="OrderItems">ORDER ITEMS</a>
                                        <a asp-action="Index" asp-controller="Orders">ORDERS</a>
                                        <a asp-action="Index" asp-controller="ProductCategories">PRODUCT CATEGORIES</a>
                                        <a asp-action="Index" asp-controller="Products">PRODUCT</a>
                                        <a asp-action="Index" asp-controller="Ratings">RATINGS</a>                   
                                    }
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit">LOG OFF</button>
                                    </form>
                                    <a asp-area="Identity" asp-page="/Account/Manage/Email" >PROFILE</a>
                                }
                                else
                                {
                                    <a asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
                                    <a asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
                                }

                                
                            </div>
                        </li>
                        <li><a asp-action="Index" asp-controller="WishList"><i class="fa-solid fa-heart"></i></a></li>
                        <li><a asp-action="Index" asp-controller="Cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
                        
                    </ul>

                </nav>

                <img src="~/Images/NavBarMobile/Close.png" class="menu-icon" id="O" onclick="MenuToggle()">
                <img src="~/Images/NavBarMobile/Open.png" class="menu-icon_2" id="X">
            </div>
            <!--Fund Shiriti Navigimit-->
        </div>
    </div>
    
    @RenderBody()

    <!--footer-->
    <div class="footer">
        <div class="container">
            <hr id="line">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone. </p>
                    <div class="app-logo">
                        <img src="~/Images/Footer/app-store.png">
                        <img src="~/Images/Footer/play-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <h3>Sponsors</h3>
                    <p>Our Purpose Is To Sustainably Make Pleasure and Benefits all customers desires.</p>
                    <div class="sponsors">
                        <img src="~/Images/Footer/gucci-logo-png-transparent-gucci-logo-images-836689.png" />
                        <img src="~/Images/Footer/aramnni.png" />   
                    </div>
                </div>
                <div class="footer-col-3">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">YouTube</a></li>
                    </ul>
                </div>
            </div>
            <hr id="lineV2">
            <p class="copyright">Copyrights © 2022</p>
        </div>
    </div>
     

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="~/js/Typed.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js" integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.js" integrity="sha512-eOUPKZXJTfgptSYQqVilRmxUNYm0XVHwcRHD4mdtCLWf/fC9XWe98IT8H1xzBkLL4Mo9GL0xWMSJtgS5te9rQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>