@model FlyBuy.Models.Rating

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <div id="rateYo"></div>
                <input asp-for="Rate" class="form-control" type="hidden" id="rating"/>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="my-rating"></div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {

    <script>

        $(function () {
 
            $("#rateYo").rateYo({
            rating: 0,
            ratedFill: "#ff523b",
            maxValue: 5,
            numStars: 5,
            starWidth: "40px",
            halfStar: true,
            spacing: "3px",
            onChange:function (rating , rateYoInstance) {
                $('#rating').val(rating);
                console.log(rating);
            }
          
            });
 
        });

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}