@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="account-page account-page-2">

    <div class="container">

        <div class="social-icons-external">
            <h2>Manage your account</h2>
        </div>

        <br />
                        
        <div class="profile-links">
            <partial name="_ManageNav" />
        </div>

    </div>

</div>

<div class="account-page">
    <div class="container container-profile">  
        <div class="row row-4">            
            <div class="col-2">
                @RenderBody()                  
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
