@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<p>Deleting this data will permanently remove your account, and this cannot be recovered.</p>

@*<form id="download-data" asp-page="DownloadPersonalData" method="post">
    <button class="btn btn-primary" type="submit">Download</button>
</form>*@
<br />

<a id="delete" asp-page="DeletePersonalData" class="delete" >Delete</a>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
