@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>Set your password</h3>

<br />

<partial name="_StatusMessage" for="StatusMessage" />

@*<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>*@

 <div asp-validation-summary="ModelOnly" style="color:#ff523b"></div>

<form id="set-password-form" method="post">

    <div class="form-control  form-control-2">
        <label asp-for="Input.NewPassword" class="form-label"></label>
        <span asp-validation-for="Input.NewPassword" style="color:#ff523b"></span>
        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Password..."/>
    </div>

    <div class="form-control  form-control-2">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <span asp-validation-for="Input.ConfirmPassword" style="color:#ff523b"></span>
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"  placeholder="New password..." />  
    </div>

    <div class="form-group2 -lg">
        <button type="submit" class="btn">Set password</button>
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
