@{
    ViewData["Title"] = "Home Page";
}

 <div class="header">

        <div class="container">

            <div class="text">
                <h1>Give your <span class="element"></span></h1>
                <p>
                    Millions of the world's most successful brands trust FlyBuy to sell, ship and process payments anywhere.
                </p>
                <a href="/Account/Register" class="btn">&#8592; Shop Mens </a>
                <a href="/Account/Register" class="btn">Shop Womens &#8594;</a>
            </div>

        </div>

        <div id="slider">

            <figure>
                <img src="~/Images/Header/cute-young-girl-with-dark-wavy-hairstyle-bright-makeup-silk-dress-black-jacket-holding-sunglasses-hands-looking-away-against-beige-building-wall.jpg">
                <img src="~/Images/Header/business-man-coat-talking-phone-outside.jpg">
                <img src="~/Images/Header/trendy-woman-with-wavy-hairstyle-red-lips-posing-outside-brunette-woman-dark-jacket-glasses-looks-away-outdoors.jpg">
                <img src="~/Images/Header/young-handsome-bearded-man.jpg">
            </figure>

        </div>

        <video src="~/Videos/production ID_4650064.mp4" muted loop autoplay class="video"></video>

    </div>






   <div class="backgound" id="background">

    <div class="small-container">

        <h2 class="title">Latest Products</h2>

        <div class="row">
            <div class="col-4">
                <img src="/Images/Products/category-3223011070.jpg">
                <h4>item name</h4>
                <div class="rating">  
                        <i class="fa fa-star"></i>
                </div>
                <p>price $</p>
                <br />
                <a>order now</a>
            </div>

            <div class="col-4">
                <img src="/Images/Products/category-3223011070.jpg">
                <h4>item name</h4>
                <div class="rating">  
                        <i class="fa fa-star"></i>
                </div>
                <p>price $</p>
                <br />
                <a>order now</a>
            </div>

            <div class="col-4">
                <img src="/Images/Products/category-3223011070.jpg">
                <h4>item name</h4>
                <div class="rating">  
                        <i class="fa fa-star"></i>
                </div>
                <p>price $</p>
                <br />
                <a>order now</a>
            </div>

            <div class="col-4">
                <img src="/Images/Products/category-3223011070.jpg">
                <h4>item name</h4>
                <div class="rating">  
                        <i class="fa fa-star"></i>
                </div>
                <p>price $</p>
                <br />
                <a>order now</a>
            </div>
        </div>

         <h2 class="title">Summer collection</h2>

         <div class="row3">
            <div class="col-4">
                <img src="/Images/Products/category-3223011070.jpg">
                <h4>item name</h4>
                <div class="rating">  
                        <i class="fa fa-star"></i>
                </div>
                <p>price $</p>
                <br />
                <a>order now</a>
            </div>
        </div>

    </div>
</div>