@model IEnumerable<FlyBuy.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

 <div class="header">

        <div class="container">

            <div class="text">
                <h1>Give your <span class="element"></span></h1>
                <p>
                    Millions of the world's most successful brands trust FlyBuy to sell, ship and process payments anywhere.
                </p>
                <a href="/Account/Register" class="btn">&#8592; Shop Mens </a>
                <a href="/Account/Register" class="btn">Shop Womens &#8594;</a>
            </div>

        </div>

        <div id="slider">

            <figure>
                <img src="~/Images/Header/cute-young-girl-with-dark-wavy-hairstyle-bright-makeup-silk-dress-black-jacket-holding-sunglasses-hands-looking-away-against-beige-building-wall.jpg">
                <img src="~/Images/Header/business-man-coat-talking-phone-outside.jpg">
                <img src="~/Images/Header/trendy-woman-with-wavy-hairstyle-red-lips-posing-outside-brunette-woman-dark-jacket-glasses-looks-away-outdoors.jpg">
                <img src="~/Images/Header/young-handsome-bearded-man.jpg">
            </figure>

        </div>

        <video src="~/Videos/production ID_4650064.mp4" muted loop autoplay class="video"></video>

    </div>


<div class="backgound" id="background">

    <div class="small-container small-container-homePage">

        <h2 class="title">Latest Products</h2>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-4">
                    <a asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.Id"><img src="/Images/Products/@item.Image"></a>
                    <h4>@item.Name</h4>
                    <div class="rating">  
                        @for (int i = 0; i < item.Rating; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                    </div>
                    <p>@item.Price.ToString("C2")</p>
                    <br />
                    <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id">Add to cart</a>
                </div>    
            }

        </div>
    </div>
</div>