@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="account-page">
    <div class="container">  
        <div class="row"> 
                
            <div class="col-2">  

                <div class="social-icons-external">
                    <h1>@ViewData["Title"]</h1>
                </div>

                <div class="social-icons-external">
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>

                <br />

                <div class="social-icons-external">
                    <a asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
                </div>

            </div>
        </div>
    </div>
</div>