@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}


<div class="account-page -exTernal">
    <div class="container">  
        <div class="row"> 
            <div class="col-2">     

                <div class="social-icons-external">
                    <h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
                </div>

                <hr />

                <div class="social-icons">
                    <p id="external-login-description" class="text-info">
                        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                        Please enter an email address for this site below and click the Register button to finish
                        logging in.
                    </p>
                </div>

                <hr />

                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    
                    <div class="form-control  form-control-2">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Email...." />                               
                        <span asp-validation-for="Input.Email" class="text-danger" style="color:#ff523b"></span>
                        <div asp-validation-summary="ModelOnly" class="text-danger" style="color:#ff523b"></div>
                    </div>

                    
                    <button type="submit" class="btn">Register</button>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cancel</a>
                    
                </form>               

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
