@model FlyBuy.Models.AgeCategory

@{
    ViewData["Title"] = "Edit";
}

<div class="account-page account-page-2">
    <div class="container">
        <div class="row">
            <div class="col-2">

                 <div class="form-container">

                    <div class="form-control">
                        <form asp-action="Edit">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />

                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-edit" placeholder="Age category  ..."/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <input type="submit" value="Save" class="btn" />
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
