@model FlyBuy.Models.Product

@{
    ViewData["Title"] = "Edit";
}


<div class="account-page account-page-2">
    <div class="container">
        <div class="row">
            <div class="col-2 form-container-2">

                 <div class="form-container">

                    <div class="form-btn">
                        <span>Edit Product @Model.Name</span>
                    </div>

                    <div class="form-control">
                        <form asp-action="Edit">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />

                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-edit" />
                            <span asp-validation-for="Name" class="text-danger"></span>

                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-edit" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-edit" />
                            <span asp-validation-for="Description" class="text-danger"></span>

                            <label asp-for="LastUpdated" class="control-label"></label>
                            <input asp-for="LastUpdated" class="form-edit" />
                            <span asp-validation-for="LastUpdated" class="text-danger"></span>

                            <label asp-for="AgeCategory" class="control-label"></label>
                            <input asp-for="AgeCategory" class="form-edit" />
                            <span asp-validation-for="AgeCategory" class="text-danger"></span>

                            <label asp-for="Rating" class="control-label"></label>
                            <input asp-for="Rating" class="form-edit" />
                            <span asp-validation-for="Rating" class="text-danger"></span>

                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" class="form-edit" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                            <br />
                            <br />
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-edit" asp-items="ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                            <br />
                            <br />
                            <label asp-for="ProductCategoryId" class="control-label"></label>
                            <select asp-for="ProductCategoryId" class="form-edit" asp-items="ViewBag.ProductCategoryId"></select>
                            <span asp-validation-for="ProductCategoryId" class="text-danger"></span>

                            <input type="submit" value="Save" class="btn btn-primary" />

                            <a asp-action="Index">Back to List</a>
                        </form>

                    
                    </div>

                 </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
